        /* Login Page */
        
        .login {
            background: #f8ecdc;
        }
        
        .login .wrapper-login {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }
        
        .login .wrapper-login .card {
            max-width: 400px;
            width: 100%;
        }
        
        .login .wrapper-login .card .card-body {
            padding: 50px 25px;
        }
        
        .login .wrapper-login .card .card-body h3 {
            margin-bottom: 30px;
        }
        /* End Login Page */
        /* Admin template custom */
        
         :root {
            --brown: #C4A661;
            --hazel: #E7CC8F;
            --ms-excel-green: #1c744c;
        }
    
        .form-section-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        .vertical-separator {
            width: 1px;
            height: 20px;
            margin: 0px 10px;
            background: white;
        }
        
        .navbar-header[data-background-color=hazel] {
            background-color: var(--hazel);
        }
        
        .logo-header[data-background-color=brown] {
            background-color: var(--brown);
        }
        
        .logo-header .logo .navbar-brand {
            width: 160px;
        }
        
        .navbar-header .nav-item-profile {
            display: flex;
        }
        
        .navbar-header .nav-item-profile .profile-welcome {
            color: white;
            font-weight: bold;
            text-decoration: none;
        }
        
        .navbar-header .nav-item-profile .logout {
            color: var(--danger);
        }
        
        .sidebar.sidebar-style-2[data-background-color=brown] .nav.nav-primary>.nav-item.active>a {
            background-color: var(--brown) !important;
            box-shadow: 4px 4px 10px 0 rgb(0 0 0 / 10%), 4px 4px 15px -5px var(--brown) !important;
        }
        
        .table td,
        .table th {
            height: 40px;
        }
        
        .page-item.active .page-link {
            background-color: var(--brown);
            border-color: var(--brown);
        }
        
        .page-item:not(.active) .page-link:hover {
            color: var(--brown) !important;
            background: #f9eed6;
        }
        
        div.dataTables_wrapper div.dataTables_filter {
            text-align: left;
        }
        
        div.dataTables_wrapper div.dataTables_length {
            text-align: right;
        }
        
        .btn:disabled {
            cursor: not-allowed;
        }
        
        .btn:not(.btn-round) {
            padding: .375rem .75rem;
        }
        
        .btn.btn-brown {
            background: var(--brown);
            color: white;
        }
        
        .btn.btn-excel-green {
            background: var(--ms-excel-green);
            color: white;
        }
        
        .nav.nav-line.nav-color-brown .nav-link:hover {
            color: var(--brown);
        }
        
        .nav.nav-line.nav-color-brown .nav-link.active {
            color: var(--brown);
            border-bottom: 2px solid var(--brown);
        }
        
        .form-check,
        .form-group {
            padding: 0px;
            margin-bottom: 1rem;
        }
        
        .form-control:focus {
            border-color: var(--brown);
        }
        
        .form-control-sm {
            height: calc(1.8125rem + 2px) !important;
        }
        
        .text-sm {
            font-size: .75rem;
        }

        .text-lg{
            font-size: 1.25rem;
        }
        
        .font-weight-black {
            font-weight: 900;
        }
        
        .white-space-normal {
            white-space: normal !important;
        }
        
        .white-space-prewrap {
            white-space: pre-wrap !important;
        }
        
        .white-space-nowrap {
            white-space: nowrap !important;
        }
        
        .max-w-200 {
            max-width: 200px;
        }
        
        .accordion .card>.card-header>.span-mode:before {
            content: "\f077" !important;
        }
        
        .accordion .card>.card-header.collapsed>.span-mode:before {
            content: "\f078" !important;
        }
        
        .table.table-borderless tbody>tr>td,
        .table.table-borderless tfoot>tr>td {
            border-bottom: 0px;
        }
        
        .table.table-padding-sm tr th,
        .table.table-padding-sm tr td {
            padding: 3px 5px !important;
        }
        
        .border-black {
            border: 1px solid black;
        }
        
        .border-y {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
        
        .bg-gray {
            background: #ccc;
        }
        /* end - Admin template custom */
        /* datepicker */
        
        .datepicker table tr td.active.active {
            background-color: var(--brown);
            background-image: var(--brown);
        }
        
        .datepicker table tr td.active:hover:hover {
            background-color: var(--brown);
            background-image: var(--brown);
            filter: brightness(0.9);
        }
        /* end - datepicker */
        /* select2 custom */
        
        .select2-container {
            display: block;
            width: auto !important;
        }
        
        .select2-container .select2-selection--single {
            height: 42px;
        }
        
        .select2-container--default.select2-container--focus .select2-selection {
            border: 1px solid var(--brown);
        }
        
        .select2-container--default .select2-selection--single {
            border: 1px solid #ebedf2;
        }
        
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 42px;
            padding-left: 16px;
        }
        
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 42px;
        }
        
        .select2-container--default .select2-search--dropdown .select2-search__field {
            border: 1px solid #ebedf2;
        }
        
        .select2-dropdown {
            border: 1px solid #ebedf2;
            z-index: 1000;
        }
        
        .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
            background-color: var(--brown);
        }
        /* end - select2 custom */
        /* swal custom */
        
        .swal-modal .swal-text {
            text-align: center;
        }
        /* end swal custom */

        .info-bullet{
            background: var(--brown);
            width: 15px;
            height: 15px;
            color: white;
            border-radius: 15px;
            text-align: center;
            font-size: 7px;
            line-height: 1;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        /* BOOSTRAP TOOLTIP FIX */
        .tooltip {
            top: 0;
        }
        
        .cell-action {
            display: flex;
            align-items: center;
        }
        
        .cell-action .btn-icon {
            width: auto;
            min-width: auto;
            padding: .375rem .5rem;
            color: var(--brown);
            display: flex;
            align-items: center;
            text-decoration: none !important;
            background: transparent;
        }
        
        .label-input-file {
            background: white;
            text-align: center;
            width: 100%;
            position: relative;
            border-radius: 10px;
            border: 2px dashed #ebedf2;
            padding: 10px;
            white-space: normal !important;
        }
        
        .label-input-file input[type="file"] {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
        
        .label-input-file .img-input-file {
            height: auto;
            margin: 10px 0;
            pointer-events: none;
            user-select: none;
            -moz-user-select: -moz-none;
            max-width: 150px;
            min-width: 40px;
        }
        
        .label-input-file .input-file-text {
            margin: 0 auto;
            color: #aeaeae;
            font-size: 12px;
            pointer-events: none;
            user-select: none;
            -moz-user-select: -moz-none;
            word-break: break-all;
        }
        
        .label-input-file.drag-enter .img-input-file,
        .label-input-file.drag-enter .input-file-text {
            opacity: 0.5;
        }
        
        .table-outlet-pegawai input {
            min-width: 130px;
        }
        
        .table-role tr th:first-of-type,
        .table-role tr td:first-of-type {
            max-width: 200px;
        }
        
        .table-role .menu-level-1 {
            display: block;
            margin-left: 10px;
        }
        
        .table-role .menu-level-2 {
            display: block;
            margin-left: 20px;
        }
        
        .table-role .menu-level-3 {
            display: block;
            margin-left: 30px;
        }
        
        .table-role .form-role {
            display: flex;
            align-items: center;
            margin-right: .75rem;
        }
        
        .table-biaya-gadai.table-bordered th,
        .table-biaya-gadai.table-bordered td {
            border-width: 1px !important;
        }
        
        .table-form-biaya-gadai {
            width: 100%;
        }
        
        .table-form-biaya-gadai th,
        .table-form-biaya-gadai td {
            border-top-width: 2px;
            padding: 5px !important;
            min-width: 110px;
        }
        
        .table-responsive>.table-bordered {
            border: 1px solid #dee2d6;
        }
        
        .input-day::-webkit-outer-spin-button,
        .input-day::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        
        .input-day[type=number] {
            -moz-appearance: textfield;
        }
        
        .upload-photo-grid {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(3, 90px);
            grid-gap: 15px;
        }
        
        .upload-photo-grid .upload-photo-grid-item {
            position: relative;
        }
        
        .upload-photo-grid .upload-photo-grid-item img {
            width: 90px;
            height: 90px;
            object-fit: contain;
            background: #e8e8e8;
            border-radius: 2.5px;
        }
        
        .upload-photo-grid .upload-photo-grid-item .btn-photo-delete {
            padding: 0px;
            width: 20px;
            height: 20px;
            font-size: 12px;
            line-height: 15px;
            position: absolute;
            top: -10px;
            right: -10px;
        }
        
        .answers-grid {
            display: grid;
        }
        
        .answers-grid.answers-grid-col-2 {
            grid-template-columns: repeat(2, minmax(160px, 1fr));
        }
        
        .answers-grid.answers-grid-col-3 {
            grid-template-columns: repeat(3, minmax(160px, 1fr));
        }
        
        .answers-grid.answers-grid-col-4 {
            grid-template-columns: repeat(4, minmax(160px, 1fr));
        }
        
        .answers-grid.answers-grid-col-auto {
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        }
        
        .form-angsuran-item {
            border-bottom: 1px solid #ccc;
            margin-bottom: 12px;
        }
        
        .table.table-borderless tbody>tr>td,
        .table.table-borderless tfoot>tr>td {
            border-bottom: 0px;
        }
        
        .table.table-padding-sm tr th,
        .table.table-padding-sm tr td {
            padding: 3px 5px !important;
        }
        
        .border-black {
            border: 1px solid black;
        }
        
        .border-y {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
        
        .bg-gray {
            background: #ccc;
        }
        /* Edit costume gadai online edit and view*/
        
        .upload-photo-grid-gadai {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(3, 90px);
            grid-gap: 15px;
        }
        
        #map {
            width: 400px;
            height: 400px;
        }
        /* table voucher */
        
        #table-voucher .select2-selection.select2-selection--single {
            height: 32px;
        }
        
        #table-voucher .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 32px;
        }
        
        #table-voucher .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 32px;
        }
        /* Akhir citume*/
        
        select[readonly].select2-hidden-accessible+.select2-container {
            pointer-events: none;
            touch-action: none;
        }
        
        select[readonly].select2-hidden-accessible+.select2-container .select2-selection {
            background: #eee;
            box-shadow: none;
        }
        
        select[readonly].select2-hidden-accessible+.select2-container .select2-selection__arrow,
        select[readonly].select2-hidden-accessible+.select2-container .select2-selection__clear {
            display: none;
        }

        @media(min-width: 1200px){
            .modal-xl{
                max-width: 1140px;
            }
        }